:root {

    --color_green: #73e67d;
    --color_red: #f56b76;
    --color_yellow: #ecea44;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color_green: #73e67d;
    --color_red: #f56b76;
    --color_yellow: #ecea44;
    font-size: 20px;

}

body::-webkit-scrollbar {
    width: 12px;


}

body::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);

}

body::-webkit-scrollbar-thumb {
    background-color: #346751;
    margin: 2 auto;
    border-radius: 20px;
    /* roundness of the scroll thumb */

}

/* Isso aqui é pra deixar a scrollbar combinando */
body {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 0%;
}

#finaliza:hover {
    color: black;

}

.corpoPagina {
    display: flex;
    flex-direction: column;
}

#sobre {
    color: var(--color_red)
}

#simulador {
    color: #264413;
}

#contato {
    color: #6e5d2d
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    padding: 2vh;
}

.elementosNav li {
    font-size: 20px;
}

#ultimo {
    margin: 0;
}

.alinhamento {
    border-bottom: 1px solid rgb(107, 107, 107);
    width: 50%;
    margin: 20px;

}

.elementosNav {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.login img {
    width: 20px;
}

#imagemEntrar {
    justify-content: right;
}

.navBar {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;

    justify-content: flex-end;
    font-weight: bold;
}

.liNav {

    margin-right: 50px;

}

a {
    text-decoration: none;
    color: rgb(61, 61, 61);
}

a:hover {
    color: var(--color_green);
    transition: 500ms;
}


.content {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #94D57B, #C1DA6C);
}

.alinhamento {
    width: 60%;
    border-bottom: 2px solid #b1b1b1;
    margin: 15px;
}

.content .container {
    margin-top: 5%;
    border-radius: 20px;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 5vh;
}

.content .container input {
    width: 35%;
    padding: 10px;
    border: none;
    background-color: rgb(218, 218, 218);
    border-radius: 25px;
    margin-top: 10px;
}

#toneladaLixo {
    margin-bottom: 5%;
}

.content .container button {
    font-weight: bold;
    font-size: 90%;
    width: 25%;
    height: 5vh;
    border-radius: 25px;
    border: none;
    background-color: var(--color_green);
}

.content .container button:hover {
    border: 1px solid black;
    background-color: white;
    transition: 300ms;
}

#planos {
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

#mensagem {

    padding: 15px;
    display: block;
    border-radius: 25px;
    border: none;
    width: 40%;
    margin-bottom: 5%;
    background-color: rgb(221, 221, 221);
    margin-top: 3%;
    height: 20vh;


}