body {
    margin: 0%;
}
    
    .header {
    background-color: rgb(247, 228, 205);
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
ul {
    display: flex;
    list-style: none;
    text-align: center;
}
li{

    margin-right: 55px;
}


    
    .sobre {color: #B22126;
    font-family: arial;
    font-size: 17px;}
    
    .simulador {color: #2B3F98;
    font-family: arial;
    font-size: 17px;}
    
    .contato {color: #15562C;
    font-family: arial;
    font-size: 17px;
    }

    .entrar {color: white;
    background-color: black;
    border-radius: 20%;
    border-bottom: 15px;
    }
    
    .imagemFundo {
    position: absolute;
    background-image: url('https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1613&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    width: 100vw;
    opacity: 90%;
    }

    .mensagemPrincipal {
    position: relative;
    padding-top: 80px;
    padding-left: 100px;
    color:#a8dda8;
    font-size: 80;
    }

    .mensagemSegundaria {
    position: relative;
    color: #a8dda8;
    font-size: 25;
    padding-top: 50px;
    }