*{
    padding:0;
    margin:0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.corpoPagina{
    display:flex;
    flex-direction: column;
}
.navBar{
    font-weight: bold;
    display:flex;
    text-align: center;
    justify-content: center;
}
.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items:center;

    border-bottom:1px solid rgb(160, 160, 160);
    padding:2vh;
}
.elementosNav li{
    font-size: 20px;
}
.elementosNav{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
}
.login img{
    width:20px;
}
#imagemEntrar{
    justify-content: right;
}
ul {
    display: flex;
    list-style: none;
    text-align: center;
}

li {

    margin-right: 55px;
}
.elementosBanner{
    background-image: url("https://w0.peakpx.com/wallpaper/557/875/HD-wallpaper-green-leaves-texture-background-with-green-leaves-ecology-environment-green-leaves-leaves-background.jpg");
    width:100%;
    height:80vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(110, 119, 111);
    
}
.blocoTexto{
    width:45%;
    height:25vh;
    justify-content: left;
    padding: 15px;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 5px solid rgba(255, 255, 255, 0.3);
    color:rgb(243, 243, 243);
}
.blocoTexto p{
    color:rgb(209, 209, 209);
}
.blocoTexto h1{
    font-size: 50px;
}
.botoesTexto{
    width:40%;
    display:flex;
    justify-content: space-between;
    margin-top:5%;

}
.botoesTexto button{
    width:40%;
    height:7vh;
    border-radius: 15px;
    border: none;

}
.destaque{
    color:rgb(115, 230, 125);
}
#botaoCadastro{
    background-color:rgb(115, 230, 125);
}
#botaoLogin{
    background-color: black;
    color:white;
}
.ajusteTamanho img{
    width:25vw;
    border-radius: 90px;
}

.sobre {
    color: #B22126;
    font-family: arial;
    font-size: 17px;
}

.simulador {
    color: #2B3F98;
    font-family: arial;
    font-size: 17px;
}

.contato {
    color: #15562C;
    font-family: arial;
    font-size: 17px;
}

.entrar {
    color: white;
    background-color: rgb(9, 9, 9);
    border-radius: 35%;
    width:5%;
    height: 5vh;
    border-bottom: 15px;

    font-weight: bold;
}
.elementosCorpo{
    justify-content: space-evenly;
    align-items: center;
    display:flex;
    width:100%;
    height:80%;
    border:2px solid red;
}
.elementosCorpo h3{
    font-size: 60px;
}
.elementosCorpo p{
    font-size: 25px;
}
.elementosCorpo img{
    width:35%;
    height:30vw;
    border: 5px solid rgb(208, 214, 194);
    border-radius:80px;
}
.textoCorpo{
    width:35%;
    padding: 30px;
    text-align: center;
    border: 2px solid yellow;
}
.textoCorpo p{
    margin-top: 5%;
}
.box h3{
    text-align: center;
}
.box p{
    text-align: center;

}
.elementosContexto{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:100%;
    border: 2px solid red;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
  
}
#elemento1{
    margin-top: 5%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.box{
    width:33%;
    border-radius: 15px;
    padding:30px;
}