body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
}

li {

    margin-right: 55px;
}



.sobre {
    color: #B22126;
    font-family: arial;
    font-size: 17px;
}

.simulador {
    color: #2B3F98;
    font-family: arial;
    font-size: 17px;
}

.contato {
    color: #15562C;
    font-family: arial;
    font-size: 17px;
}

.entrar {
    color: white;
    background-color: rgb(9, 9, 9);
    border-radius: 35%;
    width:5%;
    height: 5vh;
    border-bottom: 15px;

    font-weight: bold;
}

.imagemFundo {
    background-image: url('https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1613&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    width: 100vw;
    opacity: 90%;
}

.mensagemPrincipal {
    position: relative;
    padding-top: 80px;
    padding-left: 100px;
    color: #a8dda8;
    font-size: 80;
}

.mensagemSegundaria {
    position: relative;
    color: #a8dda8;
    font-size: 25;
    padding-top: 50px;
}


/* 
inicio footer */
.footer{
    background-color: rgb(247, 228, 205);

    height: 80px;
    color: black;
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.footer .container{
    align-items: center;
}

/* fim footer */


/* inicio login */

.dvInicial {
    background-image: linear-gradient(to right, #94D57B, #C1DA6C);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;

}

.container {
 
    width: 80%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-content: space-around;
  
}


/* caixa branca formulario */

.contentForm {

    background-color: white;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;

    margin: 10px;
}


 /* titulo formulario */
.titForm{

    font-size: 36px;

}
.contentForm h4{
    font-size:20px;
}

/* estilização input */

.contentForm input{
    border: 2px solid rgb(255, 233, 106);
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}
#linhaSeparacao{
    width:50%;
    height:0.1px;
    border-bottom:0.1px solid rgb(114, 114, 114);
}
/* esqueceu a senha */

.esqSenha{
    color:rgb(85, 85, 85);
    font-size: 12px;

}
.esqSenha a{
    font-weight: bold;
}

/* 
remover estilização do link */
a{
    text-decoration: none;
    color: black;
}


/* botão login */
.btLogin{   
    font: 700 20px;
    margin-top: 25px;
    padding: 5px;
    cursor: pointer;   
    border: none;
    background-color: #52d183;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}

/* fim login */

.conteudoCentralizado{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70%;
}

.conteudoCentralizado input{
    margin: 10% auto;
}
.tituloForm{
    font-size:20px;
}