body{
    font-family: Arial, Helvetica, sans-serif
}
.caixaPreco{
    border: 1px solid black;
    border-radius:5px;
    width: 50vw;
    height:35%;
    padding:2vh;
    justify-content: center;
    margin-left: 1vw;
    margin-right:1vw;
}

#guardaCaixas{
    display:flex;
    justify-content: center;
    justify-content: space-between;
}
.cabecalhoCaixa span{ 
    font-size: 20px;
    font-weight: bold;
}
.cabecalhoCaixa p{ 
    font-size: 14px;
    color: rgb(44, 44, 44);
}
.botaoComprar{
    border-radius: 15px;
    margin-top:2vw;
    width:100%;
    height: 5vh;
    border: none;
}
.listaFuncoes ul{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.listaFuncoes li{
    margin-top:2vw;
    color:#272727
}
